#game-selector {
  display:none;

}
#start{
  text-align: center;
}
html, body{
  font-family: 'Lato', sans-serif;
  background-color: gray;
}
h6{
  padding-top: 20px;
}
#bdy2{
  padding-top: 20px;
}
.rule{
  color: #F8F9F9;
  text-align: left;
}
#ply2{
  background-color: #F1F6E6;
}
#ply1{
  background-color: #EEE7F9;
}
#bdy{
  margin-top: 60px;
  background-color: #FADCB0;
}
h1{
  text-align: center;
}
footer{
  text-align: center;
  padding-top: 10%;
  color: #F8F9F9;
}
